<div class="product-container">
  <app-banner
  [productList]="productListRandom"
  (showProductDetail)="onShowProductDetail($event)"
  ></app-banner>
  <app-filters
    [totalProducts]="productList.length"
    (changeTypeList)="onChangeTypeList($event)"
  ></app-filters>
  <div [class.product-grid]="gridList" [class.product-list]="!gridList" *ngIf="productList.length > 0; else loaderContainer">
    <app-product-item
    *ngFor="let product of productList"
    [product]="product"
    [gridList]="gridList"
    (showProductDetail)="onShowProductDetail($event)"
    (addToCart)="onAddToCart($event)"
    >
    </app-product-item>
  </div>
  <ng-template #loaderContainer>
    <div [class.product-grid]="gridList" [class.product-list]="!gridList">
      <app-loader></app-loader>
      <app-loader></app-loader>
      <app-loader></app-loader>
      <app-loader></app-loader>
      <app-loader></app-loader>
      <app-loader></app-loader>
    </div>
  </ng-template>
</div>


<aside (click)="toggleSidebar()" class="product-detail" *ngIf="productDetail" [class.active]="isOpenSidebar">
  <div class="product-detail--container" (click)="stopPropagation($event)">
    <div class="product-detail--close" (click)="toggleSidebar()"><fa-icon [icon]="faClose"></fa-icon></div>
    <h2>{{ productDetail.title }}</h2>
    <section class="product-detail--container__slider">
      <swiper [slidesPerView]="1">
        <ng-template swiperSlide *ngFor="let image of productDetail.images">
          <app-image [image]="image" [text]="productDetail.title"></app-image>
        </ng-template>
      </swiper>
    </section>
    <p>{{ productDetail.description }}</p>
    <p>
      {{ productDetail.price | currency:'$ ' }}
      <span>
        {{ productDetail.price | discount | currency:'$ '}}
      </span>
    </p>
  </div>
</aside>


