<div class="banner" *ngIf="productList.length > 0; else loaderContainer">
  <swiper
    [slidesPerView]="1"
    [autoplay]= "{delay: 1000}">
    <ng-template swiperSlide *ngFor="let product of productList">
      <section class="banner--slider">
        <div class="banner--slider__description">
          <h2>{{ product.title }}</h2>
          <p>{{ product.description }}</p>
          <span (click)="onShowProductDetail(product.id)">VIEW DETAILS</span>
        </div>
        <app-image [image]="product.images[0]" [text]="product.title"></app-image>
      </section>
    </ng-template>
  </swiper>
</div>
<ng-template #loaderContainer>
  <div>
    <app-loader></app-loader>
  </div>
</ng-template>
