<nav class="navbar container">
  <a class="navbar--logo" routerLink="/">
    <img src="../../../assets/images/logo.svg" alt="Platzi Store" width="44" height="44">
    <span>MY STORE</span>
  </a>
  <div class="navbar--profile">
    <div class="navbar--profile__auth">
      <div (click)="onModalAuth(true)" *ngIf="!isAuth">
        <fa-icon [icon]="faRightToBracket"></fa-icon>
        <span>Login</span>
      </div>
      <div *ngIf="isAuth">
        <fa-icon [icon]="faUser"></fa-icon>
        <span>{{ profile.email }}</span>
      </div>
      <div class="is-danger" *ngIf="isAuth" (click)="onLogout()">
        <fa-icon [icon]="faRightToBracket"></fa-icon>
        <span>Salir</span>
      </div>
    </div>
    <div class="navbar--profile__cart">
      <fa-icon [icon]="faCartShopping"></fa-icon>
      <span>{{ counterCart }}</span>
    </div>
  </div>
</nav>
<app-login *ngIf="modalAuth" (modalAuth)="onModalAuth($event)" (profile)="onLoadProfile($event)"></app-login>
